@using System.Collections.Generic;
@using UserAdmin.Models;
@model List<User>;

<div class="row justify-content-between mb-2">
    <h3 class="col-4">Manage Users</h1>
    <h3 class="col-4">Welcome, @ViewBag.UserName</h3>
    <a asp-action="AddUser" class="btn btn-primary align-right">Add a User</a>
</div>

<table class="table table-striped">
    <thead class="thead-dark">
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Created On</th>
        <th scope="col">Admin Level</th>
        <th scope="col">Actions</th>
    </thead>
    <tbody>
    @foreach (User u in Model)
    {
        <tr>
            <td>@u.UserId</td>
            <td><a asp-action="UserPage" asp-route-userId="@u.UserId">@u.FirstName @u.LastName</a></td>
            <td>@u.Email</td>
            <td>@u.CreatedAt.ToString("MMMM dd, yyyy")</td>
            @if (u.AdminLevel == 9)
            {
                <td>Admin</td>
            }
            else
            {
                <td>User</td>
            }
            @if (u.UserId != ViewBag.AdminId)
            {
                <td>
                    <a asp-action="EditUser" asp-route-userId="@u.UserId">Edit</a>    
                    <a asp-action="RemoveUser" asp-route-userId="@u.UserId">Remove</a>
                </td>
            }
            else
            {
                <td></td>
            }
        </tr>
    }
    </tbody>
</table>