@using System.Collections.Generic;
@using UserAdmin.Models;
@model Message;

<h3>@ViewBag.User.FirstName @ViewBag.User.LastName</h3>

<table class="table">
    <tbody>
        <tr>
            <td>Registered at:</td>
            <td>@ViewBag.User.CreatedAt</td>
        </tr>
        <tr>
            <td>User ID:</td>
            <td>@ViewBag.User.UserId</td>
        </tr>
        <tr>
            <td>Email address:</td>
            <td>@ViewBag.User.Email</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>@ViewBag.User.Description</td>
        </tr>
    </tbody>
</table>

<h3>Leave a message for @ViewBag.User.FirstName</h3>

<form class="mb-3" asp-action="AddMessage" asp-route-userId="@ViewBag.User.UserId" method="post">
    <div class="form-group">
        <span asp-validation-for="MessageText" class="text-danger"></span><br>
        <textarea asp-for="MessageText" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Post</button>
</form>

@foreach (Message m in ViewBag.Messages)
{
    <div class="card mb-2">
        <div class="card-header">@m.Sender.FirstName @m.Sender.LastName wrote...</div>
        <div class="card-body">@m.MessageText</div>
    </div><br>
    @foreach (Comment c in m.MessageComments)
    {
        <div class="row justify-content-end mb-2">
            <div class="col-10">
                <div class="card">
                    <div class="card-header">@c.Commenter.FirstName @c.Commenter.LastName commented...</div>
                    <div class="card-body">@c.CommentText</div>
                </div>
            </div>
        </div>
    }
    <div class="row justify-content-end mb-3">
        <form class="col-10" asp-action="AddComment" asp-route-userId="@ViewBag.User.UserId" asp-route-messageId="@m.MessageID" method="post">
            <div class="form-group">
                <textarea name="CommentText" class="form-control" placeholder="Leave a comment..."></textarea>
            </div>
            <button type="submit" class="btn btn-success">Comment</button>
        </form>
    </div>
}